

.spanX {
    text-decoration: line-through;
    font-size: large;
    color: red;
}
.spanY {
    font-size: large;
    font-weight: 700;
    color: green;
}
.spanDiv {
    padding: 10px;
}
.itemsDev {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
img:hover {
    border: 2px solid skyblue;
    cursor: pointer;
}
.BUTTON {
    display: flex;
    justify-content: space-between;
}