.Bag{
    color: aliceblue;
    text-decoration: none;
}
.Footer {
    text-align: center;
    justify-content: center;
}
.FooterOne {
    display: flex;
    text-align: center;
    color: aliceblue;
}
.FooterTwo {
    text-align: center;
    justify-content: center;
    padding: 30px;
    color: aliceblue;
    background-color: #37383F;
    
}
.FooterThree{
    padding: 10px;
    color: aliceblue;
    text-align: center;
    justify-content: center;
}
.inputTwo {
    padding-left: 10%;
    padding-right: 10%;
}

.fcolors {
    color: #fff;
    text-decoration: none;
}

.itemstyle {
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.buttonBuy {
    width: 100%;
}

.NAVHADER {
    background-color: #f16565;
    color: aliceblue;
    white-space: nowrap;
    text-align: center;
    line-height: 18px;
    padding: 0 6px;
    height: 18px;
    position: relative;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;


}
.NAVHADERCOLOR {
    color: aliceblue;
    padding-left: 20px;
    font-size:25px
}
.bag-item-count {
    background-color: #f16565;
    white-space: nowrap;
    text-align: center;
    line-height: 18px;
    padding: 0 6px;
    height: 18px;
    position: relative;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    left: 13px;
    top: -44px;
    font-weight: 700;
    cursor: pointer;
}
.BUTTONHEARD {
    width: 20%;
    border-radius: 10%;
    border: 1px solid whitesmoke;
}
.BUTTONHEARD:hover {
    background-color: whitesmoke;

}
.BUTTONHEARD:active {
    background-color: red;

}
.BUTTONCARD {
    width: 78%;
}
.HEROIMG{
    margin-top: 2%;
}
.BAGBUTTON {
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.mobileBer{
    display: flex;
}